
$primary-color: rgb(255, 127, 42);
$secondary-color: rgb(236, 236, 236);
$dark-color: #06224e;
$command-line-color: #435570;
$background-color: #020916;
$background-color-item: #04112a;
$border-radius: 10px;

$box-shadow: 0 8px 24px rgba(44, 44, 44, 0.055) !important;